:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1b22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding-left: 240px;
  padding-right: 240px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #51C4D3;
  border-radius: 6px;
}

@media (max-width: 575.98px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }
}